nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 3em 0 3em;
  border-bottom: 2px solid var(--accent);
}

#logo a:hover {
  text-decoration: none;
}

span {
  font-size: larger;
}

#buttonList {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2em; */
}
#buttonList a {
  padding: 1em;
}
@media (max-width: 600px) {
  #buttonList {
    flex-direction: column;
  }
  #buttonList a {
    text-align: center;
    width: 100%;
    border-bottom: 2px var(--secondary) solid;
    transition: opacity 0.5s;
  }
  #buttonList :nth-child(2) {
    transition-delay: 250ms;
  }
  #buttonList :nth-child(3) {
    transition-delay: 450ms;
  }
  #buttonList :nth-child(4) {
    transition-delay: 650ms;
  }
  /* 
  #buttonList.show a {
    opacity: 1 !important;
    transform: translateY(0);
  }

  #buttonList.hide a {
    opacity: 0;
  } */
}
