@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");

:root {
  --text: #031612;
  --background: #eefdf9;
  --primary: #1ce4b7;
  --secondary: #89b5f1;
  --accent: #5371ea;
}

body {
  background-color: var(--background);

  font-family: "Kanit", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
